<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{> header}}
    <div class="container-fluid">
        {{{body}}}
    </div>
    <script src="/javascripts/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
</body>

</html>
