<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/user/signin" method="post" role="form">
            <legend>登录</legend>
            {{#if hasErrors}}
               <div class="alert alert-danger">
                  {{#each messages}}
                     <p>{{this}}</p>
                   {{/each}}
               </div>
            {{/if}}
            <div class="form-group">
                <label for="email">邮件地址</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="请输入您的邮件地址" />
            </div>

            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入您的密码" />
            </div>
              <input type="hidden" class="form-control" name="_csrf" value="{{csrfToken}}">
            <div class="form-group">
                <button type="submit" class="btn btn-default">登录</button>
            </div>
        </form>
    </div>
</div>
